<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script type="text/javascript">
            function getText(ndxStart, ndxEnd) {
                let textValue = $('#editor').val();
                let result = '';
                for (let i = ndxStart; i < ndxEnd; i++) {
                    result += textValue[i];
                }
                return result;
            }

            function getIntellisenseQuery() {
                let query = '';
                let editorElem = $('#editor');
                let queryStart = 0;
                let curStart = editorElem.prop('selectionStart');
                let curEnd = editorElem.prop('selectionEnd');
                // If a word is selected
                if (curStart != curEnd) {
                    queryStart = curStart;
                    query = getText(queryStart, curEnd);
                } else {
                    // If there is no selection
                    // Get word back to latest period or beggnining of line
                    let textValue = editorElem.val();
                    for (let i = curEnd - 1; i > 0; i--) {
                        if (textValue[i] === '.' || textValue[i] === '\n' || textValue[i] === '[') {
                            queryStart = i;
                            break;
                        }
                    }

                    query = getText(queryStart, curEnd);
                }
                return {
                    inteliQuery: query,
                    qStart: queryStart,
                    qEnd: curEnd
                };
            }

            function processIntellisenseQuery(query, qStart, qEnd) {
                $.ajax({
                    url: '/inteliquery',
                    data: {
                        query: String(query).substring(1) // Send query text minus separator character
                    },
                    success: (result) => {
                        let textValue = $('#editor').val();
                        let newTextValue = '';
                        for (let i = 0; i < textValue.length; i++) {
                            if (i == qStart) {
                                newTextValue += query.substring(0, 1) + result;
                                i = qEnd - 1;
                            } else {
                                newTextValue += textValue[i];
                            }
                        }
                        $('#editor').val(newTextValue);
                    }
                });
            }

            $(document).ready(() => {
                $('#editor').on('keydown', (event) => {
                    if (event.which == 9) { // If tab key was pressed
                        event.preventDefault();
                    }
                });

                $('#editor').on('keyup', (event) => {
                    if (event.which == 9) {
                        let queryResult = getIntellisenseQuery();
                        processIntellisenseQuery(
                            queryResult.inteliQuery,
                            queryResult.qStart,
                            queryResult.qEnd
                        );

                        event.stopImmediatePropagation();
                    }
                })
            })
        </script>
        <h1>Fields</h1>
        <ul>
            {%for item in fields %}
                <li><a href="">{{ item }}</a></li>
            {% endfor %}
        </ul>
        
        <h1>My Webpage</h1>
        <b style="color: red;">{{ validation_message }}</b>
        <form action="/validate">
            <textarea rows="30" cols="60" name="editor_text" id="editor"></textarea>
            <input type="submit" name="submit"/>
        </form>
    </body>
</html>